@{
    Layout = "_AdminLayout";
}
<div class="col-xl-12 col-lg-12 col-md-12">

    <div class="mail-box-container">
        <div class="mail-overlay"></div>

        <div class="tab-title">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 text-center">
                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-clipboard.cshtml" />
                    <h5 class="app-title">Todo List</h5>
                </div>

                <div class="todoList-sidebar-scroll">
                    <div class="col-md-12 col-sm-12 col-12 mt-4 pl-0">
                        <ul class="nav nav-pills d-block" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link list-actions active" id="todo-task-todo" data-toggle="pill" href="#pills-inbox" role="tab" aria-selected="true" 
                                   data-statuses="@(string.Join(",", EN_TodoStatus.GetAll().Where(t => t.ID != EN_TodoStatus.Completed.ID && t.ID != EN_TodoStatus.Deleted.ID).Select(t => t.ID)))" data-important="false">
                                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-list.cshtml" />
                                    Todo <span class="todo-badge badge" id="todo-task-todo-badge"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link list-actions" id="todo-task-important" data-toggle="pill" href="#pills-important" role="tab" aria-selected="false" 
                                   data-statuses="@(string.Join(",", EN_TodoStatus.GetAll().Where(t => t.ID != EN_TodoStatus.Completed.ID && t.ID != EN_TodoStatus.Deleted.ID).Select(t => t.ID)))" data-important="true">
                                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-star.cshtml" />
                                    Important <span class="todo-badge badge" id="todo-task-important-badge"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link list-actions" id="todo-task-done" data-toggle="pill" href="#pills-sentmail" role="tab" aria-selected="false" data-statuses="@(EN_TodoStatus.Completed.ID)" data-important="false">
                                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-thumbs-up.cshtml" />
                                    Done <span class="todo-badge badge" id="todo-task-done-badge"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link list-actions" id="todo-task-trash" data-toggle="pill" href="#pills-trash" role="tab" aria-selected="false" data-statuses="@(EN_TodoStatus.Deleted.ID)" data-important="false">
                                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-trash-2.cshtml" />
                                    Trash <span class="todo-badge badge" id="todo-task-trash-badge"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <a class="btn" id="addTask" href="#">
                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-plus.cshtml" />
                    New Task
                </a>
            </div>
        </div>

        <div id="todo-inbox" class="accordion todo-inbox">
            <div class="search">
                <input type="text" class="form-control input-search" id="searchString" placeholder="Search Here...">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu mail-menu d-lg-none">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </div>

            <div class="todo-box" id="todo-list-container">
                <div id="ct" class="todo-box-scroll"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="todoShowListItem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-x.cshtml" />
                    <div class="compose-box">
                        <div class="compose-content">
                            <h5 class="task-heading"></h5>
                            <p class="task-text"></p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-trash.cshtml" />
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <modal-container id="addTaskModal" size="lg">
        <modal-body id="addTaskModalBody">
        </modal-body>
    </modal-container>

</div>

<script src="~/js/admin/apps/todo.custom.js"></script>
<script>
    $(function () {
        loadTodo();
    });
</script>