@model List<TodoDTO>
@{
    Layout = null;
}
<div id="ct" class="todo-box-scroll">
    @if (Model?.Count() > 0)
    {
        foreach (var dto in Model)
        {
            <partial name="TodoListItem" model="dto" />
        }
    }
    else
    {
        <h2>No data</h2>
    }
</div>