eGym.MVC/obj/
eGym.MVC/bin/
eGym.Application/obj/
eGym.Core.SeedWork/bin/
eGym.Core.SeedWork/obj/
eGym.Core.Domain/bin/
eGym.Core.Domain/obj/
eGym.Common/obj/
eGym.MVC/.vs/
eGym.Common/bin/
eGym.Core.Security/bin/
eGym.Core.Security/obj/
eGym.Application/bin/
eGym.Core.Localization/bin/
eGym.Core.Localization/obj/
eGym.Core.Log/bin/
eGym.Core.Log/obj/
