
<header id="header">
    <div class="logo">
        <span class="icon flaticon flaticon-kettlebell"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>Access Denied</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sign-in">Sign In</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>
    </nav>
</header>
