
.danger {
    svg {
        color: #e7515a;
        fill: rgba(231, 81, 90, 0.19);
    }
}

.warning {
    svg {
        color: #e2a03f;
        fill: rgba(233, 176, 43, 0.19);
    }
}

.primary {
    svg {
        color: #2196f3;
        fill: rgba(33, 150, 243, 0.19);
    }
}

.important-star-container {
    padding: 20px 10px;

    .important-star {
        margin-top: 5px;
        cursor: pointer;
        display: none;
        visibility: hidden;
    }

    &.todo-task-important {
        .important-star {
            display: block;
            visibility: visible;
        }
    }
}

.c-pointer {
    cursor: pointer;
}
