
@keyframes eGym-loader {
    from {
        transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.eGym-loader {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 99999999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.35);

    .flaticon-kettlebell {
        &:before {
            font-size: 8rem !important;
            margin-left: 0 !important;
            font-weight: 600;
        }

        color: #ffffff;
        animation-name: eGym-loader;
        animation-delay: 0;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-duration: 0.75s;
        animation-iteration-count: infinite;
        animation-play-state: running;
        -o-animation-name: eGym-loader;
        -o-animation-delay: 0;
        -o-animation-direction: normal;
        -o-animation-timing-function: linear;
        -o-animation-duration: 0.75s;
        -o-animation-iteration-count: infinite;
        -o-animation-play-state: running;
        -moz-animation-name: eGym-loader;
        -moz-animation-delay: 0;
        -moz-animation-direction: normal;
        -moz-animation-timing-function: linear;
        -moz-animation-duration: 0.75s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-play-state: running;
        -webkit-animation-name: eGym-loader;
        -webkit-animation-delay: 0;
        -webkit-animation-direction: normal;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 0.75s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-play-state: running;
    }
}
