<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="C:\NLog\internal-nlog-SmartLending.txt">

  <extensions>
    <add assembly="NLog.MailKit"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- https://github.com/NLog/NLog/wiki/File-target -->

    <target name="LogDebugger" xsi:type="Debugger"
            layout="[${longdate}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n}" />
    
    <target name="TxtInfo" xsi:type="File" encoding="utf-8"
            keepFileOpen="true"
            fileName="${basedir}\..\App_Logs\NLog\info.txt"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n}"
            maxArchiveFiles="7"
            archiveFileName="${basedir}\..\App_Logs\NLog_Archive\{###}.info.txt"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day" />

    <target name="TxtWarn" xsi:type="File" encoding="utf-8"
            keepFileOpen="true"
            fileName="${basedir}\..\App_Logs\NLog\errors.txt"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}   URL: ${aspnet-request-url} ${newline}   REQUEST-QUERYSTRING: ${aspnet-Request-QueryString} ${newline}   ACTION: ${aspnet-mvc-controller}-${aspnet-mvc-action} ${newline}   HOST: ${aspnet-Request-Host} ${newline}   REQUEST-METHOD: ${aspnet-Request-Method} ${newline}   REQUEST-REFERRER: ${aspnet-Request-Referrer} ${newline}   REQUEST-USERAGENT: ${aspnet-Request-UserAgent} ${newline}   SESSION_ID: ${aspnet-SessionId} ${newline}   TRACE_IDENTIFIER: ${aspnet-TraceIdentifier} ${newline}"
            maxArchiveFiles="7"
            archiveFileName="${basedir}\..\App_Logs\NLog_Archive\{###}.errors.txt"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day" />

    <target name="TxtBatchInfo" xsi:type="File" encoding="utf-8"
            keepFileOpen="true"
            fileName="${basedir}\..\App_Logs\NLog\info.batch.txt"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n}"
            maxArchiveFiles="7"
            archiveFileName="${basedir}\..\App_Logs\NLog_Archive\{###}.info.batch.txt"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day" />

    <target name="TxtBatchWarn" xsi:type="File" encoding="utf-8"
            keepFileOpen="true"
            fileName="${basedir}\..\App_Logs\NLog\errors.batch.txt"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}   URL: ${aspnet-request-url} ${newline}   REQUEST-QUERYSTRING: ${aspnet-Request-QueryString} ${newline}   ACTION: ${aspnet-mvc-controller}-${aspnet-mvc-action} ${newline}   HOST: ${aspnet-Request-Host} ${newline}   REQUEST-METHOD: ${aspnet-Request-Method} ${newline}   REQUEST-REFERRER: ${aspnet-Request-Referrer} ${newline}   REQUEST-USERAGENT: ${aspnet-Request-UserAgent} ${newline}   SESSION_ID: ${aspnet-SessionId} ${newline}   TRACE_IDENTIFIER: ${aspnet-TraceIdentifier} ${newline}"
            maxArchiveFiles="7"
            archiveFileName="${basedir}\..\App_Logs\NLog_Archive\{###}.errors.batch.txt"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day" />

    <target name="PrivacyTrace" xsi:type="File" encoding="utf-8"
            keepFileOpen="true"
            fileName="${basedir}\..\App_Logs\NLog\privacy.trace.txt"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}   URL: ${aspnet-request-url} ${newline}   REQUEST-QUERYSTRING: ${aspnet-Request-QueryString} ${newline}   ACTION: ${aspnet-mvc-controller}-${aspnet-mvc-action} ${newline}   HOST: ${aspnet-Request-Host} ${newline}   REQUEST-METHOD: ${aspnet-Request-Method} ${newline}   REQUEST-REFERRER: ${aspnet-Request-Referrer} ${newline}   REQUEST-USERAGENT: ${aspnet-Request-UserAgent} ${newline}   SESSION_ID: ${aspnet-SessionId} ${newline}   TRACE_IDENTIFIER: ${aspnet-TraceIdentifier} ${newline}"
            maxArchiveFiles="7"
            archiveFileName="${basedir}\..\App_Logs\NLog_Archive\{###}.errors.batch.txt"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day" />

    <!-- https://stackoverflow.com/a/42284812 -->
    <!--<target name="EmailBuffer" xsi:type="BufferingWrapper" slidingTimeout="true" bufferSize="30" flushTimeout="300000">
      <target name="EmailWarn" xsi:type="Mail"
              layout="[${longdate}][${machinename}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}   URL: ${aspnet-request-url} ${newline}   REQUEST-QUERYSTRING: ${aspnet-Request-QueryString} ${newline}   ACTION: ${aspnet-mvc-controller}-${aspnet-mvc-action} ${newline}   HOST: ${aspnet-Request-Host} ${newline}   REQUEST-METHOD: ${aspnet-Request-Method} ${newline}   REQUEST-REFERRER: ${aspnet-Request-Referrer} ${newline}   REQUEST-USERAGENT: ${aspnet-Request-UserAgent} ${newline}   SESSION_ID: ${aspnet-SessionId} ${newline}   TRACE_IDENTIFIER: ${aspnet-TraceIdentifier} ${newline}"
              subject="NLog eGym Development"
              from="info@digitalbubbles.cloud"
              to="errors@digitalbubbles.cloud"
              smtpServer=""
              smtpPort=""
              enableSsl=""
              smtpAuthentication="Basic"
              secureSocketOption="None"
              smtpUserName=""
              smtpPassword="" />
    </target>-->
    
  </targets>

  <rules>

    <logger name="*" writeTo="LogDebugger" />
    
    <logger name="eGym.*.Batch*" minlevel="Warn" writeTo="TxtBatchInfo,TxtBatchWarn,EmailBuffer" final="true" />
    <logger name="eGym.*.Batch*" minlevel="Info" writeTo="TxtBatchInfo" final="true" />

    <logger name="*" minlevel="Warn" writeTo="TxtInfo,TxtWarn" final="true" />
    <logger name="*" minlevel="Info" writeTo="TxtInfo" final="true" />

  </rules>
  
</nlog>