@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card component-card_4">
    <div class="card-body">
        <div class="user-profile">
            <img src="assets/img/90x90.jpg" class="" alt="...">
        </div>
        <div class="user-info">
            <h5 class="card-user_name">Luke Ivory</h5>
            <p class="card-user_occupation">Manager</p>
            <div class="card-star_rating">
                <span class="badge badge-primary">4.5</span>
            </div>
            <p class="card-text"> Maecenas nec mi vel lacus condimentum rhoncus dignissim egestas orci. Integer blandit porta placerat. Vestibulum in ultricies. </p>
        </div>
    </div>
</div>