<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>eGymC</title>

    <link href="~/css/admin/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/js/admin/loader.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/admin/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="~/css/admin/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/editors/quill/quill.snow.css" rel="stylesheet" type="text/css">
    <link href="~/css/admin/apps/todolist.css" rel="stylesheet" type="text/css" />
    <link href="~/css/admin/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/css/admin/forms/switches.css" rel="stylesheet" type="text/css">
    <link href="~/css/admin/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css">

    <link href="~/css/backoffice-custom.min.css" rel="stylesheet" type="text/css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin/popper.min.js"></script>
    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
</head>
<body class="alt-menu sidebar-noneoverflow">

    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>

    <partial name="_toolbar" />

    <div class="main-container sidebar-closed sbar-open" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

        <partial name="_sidenav" />

        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    @*<script src="assets/js/libs/jquery-3.1.1.min.js"></script>*@
    @*<script src="bootstrap/js/bootstrap.min.js"></script>*@

    <script src="~/js/admin/app.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>

    <script src="~/js/admin/custom.js"></script>
    <script src="~/plugins/apex/apexcharts.min.js"></script>
    <script src="~/js/admin/dashboard/dash_1.js"></script>
    <script src="~/js/admin/ie11fix/fn.fix-padStart.js"></script>
    <script src="~/plugins/editors/quill/quill.js"></script>
    <script src="~/js/admin/apps/todoList.js"></script>
    <script src="~/plugins/highlight/highlight.pack.js"></script>
    <script src="~/js/admin/scrollspyNav.js"></script>
</body>
</html>
