<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>eGym</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/logo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/logo/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/logo/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/logo/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/logo/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/logo/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/logo/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/logo/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/logo/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="~/images/logo/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/logo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logo/favicon-16x16.png">
    <link rel="manifest" href="~/images/logo/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/logo/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/css/admin/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/js/admin/loader.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/admin/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="~/css/admin/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/editors/quill/quill.snow.css" rel="stylesheet" type="text/css">
    <link href="~/css/admin/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css">
    <link href="~/css/admin/apps/todolist.css" rel="stylesheet" type="text/css" />
    <link href="~/css/admin/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/css/admin/forms/switches.css" rel="stylesheet" type="text/css">
    <link href="~/css/admin/components/cards/card.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/dropify/dropify.min.css"rel="stylesheet" type="text/css" />
    <link href="~/css/admin/users/account-setting.css" rel="stylesheet" type="text/css" />

    <link href="~/css/backoffice-custom.min.css" rel="stylesheet" type="text/css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin/popper.min.js"></script>
    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
</head>
<body class="alt-menu sidebar-noneoverflow">

    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>

    <partial name="_toolbar" />

    <div class="main-container sidebar-closed sbar-open" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

        <partial name="_sidenav" />

        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    @*<script src="assets/js/libs/jquery-3.1.1.min.js"></script>*@
    @*<script src="bootstrap/js/bootstrap.min.js"></script>*@

    <script src="~/js/admin/app.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>

    <script src="~/js/admin/custom.js"></script>
    <script src="~/plugins/apex/apexcharts.min.js"></script>
    <script src="~/js/admin/dashboard/dash_1.js"></script>
    <script src="~/js/admin/ie11fix/fn.fix-padStart.js"></script>
    <script src="~/plugins/highlight/highlight.pack.js"></script>
    <script src="~/js/admin/scrollspyNav.js"></script>
    <script src="~/plugins/dropify/dropify.min.js"></script>
    <script src="~/plugins/blockui/jquery.blockUI.min.js"></script>
    <script src="~/js/admin/users/account-settings.js"></script>
    <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.bundle.min.js"></script>
</body>
</html>
