
@{
    Layout = null;
}

<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">

        <ul class="navbar-nav theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a href="index.html">
                    <img src="~/images/logo/android-icon-96x96.png" class="navbar-logo" alt="logo">
                </a>
            </li>
            <li class="nav-item theme-text">
                <a href="/admin/dashboard" class="nav-link"> eGym </a>
            </li>
        </ul>

        <ul class="list-unstyled menu-categories" id="sideavLeftMenu">

            <li class="menu">
                <a href="/admin/dashboard" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-home.cshtml" />
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="/admin/dashboard/todo" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-edit.cshtml" />
                        <span>Todo List</span>
                    </div>
                </a>
            </li>

            <li class="menu">
                <a href="#components" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-users.cshtml" />
                        <span>Members</span>
                    </div>
                    <div>
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-chevron-right.cshtml" />
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="components" data-parent="#sideavLeftMenu">
                    <li>
                        <a href="/admin/athletes"> Athletes  </a>
                    </li>
                    <li>
                        <a href="/admin/staff"> Staff  </a>
                    </li>
                </ul>
            </li>

        </ul>

    </nav>

</div>
<script>
    $(function () {
        let elm = $(`a[href="${location.pathname}"]`);
        if (elm) {
            elm.attr('aria-expanded', 'true');
            elm.parent().addClass('active');
            if (elm.parent().parent().hasClass('collapse submenu')) {
                elm.parent().parent().addClass('show');
            }
        }
    });
</script>
