<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eGym</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/frontend.css" />
    <noscript><link rel="stylesheet" href="~/css/frontend-noscript.css" /></noscript>
    <link rel="stylesheet" href="~/font/font/flaticon.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>

</head>
<body class="is-preload">

    <div id="wrapper">
        @RenderBody()

        <footer id="footer">
            <p class="copyright">Powered: <a href="https://digitalbubbles.clud">digitalbubbles</a></p>
        </footer>
    </div>

    <div id="bg"></div>

    <script src="~/js/frontend.js"></script>
</body>
</html>
